Package: de.finngaida.twitternotificationanimation
Name: TwitterNotificationAnimation
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Use the Twitter in-app animation for global notifications
Depiction: http://finngaida.de/repo/depictions/de.finngaida.twitternotificationanimation/
Maintainer: Finn Gaida
Author: Finn Gaida
Section: Tweaks
Version: 1.2.1-4+debug
Installed-Size: 416
