Package: de.finngaida.twitternotificationanimation
Name: TwitterNotificationAnimation
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Use the Twitter in-app animation for global notifications
Maintainer: Finn Gaida
Author: Finn Gaida
Section: Tweaks
Version: 0.0.1-78+debug
Installed-Size: 444
